body{
    background-color: aqua;
    background-image: url("image copy.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
}

p{
    color: white;
    font-size: 60px;
}

div{
    width: 1500px;
    height: 300px;
    border: 5px solid black;
    background-image: url("image.png");
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: auto;
    background-size: contain;
}

#ao{
    color: white;
    font-size: 40px;
}

/* Hover on class "box" */
.box:hover{
    color: red;
    font-size: 50px;
}
